# Permito la carpeta node_modules pero ignoro tiene
!node_modules/
node_modules/*

# Excepto las carpetas /dao y /rutas
!node_modules/dao/
!node_modules/rutas/

# Ignorar debugs
npm-debug.log

# Archivos varios OS y Windows
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

