	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
			<h3>Cliente <span class="operacion">({{operacion}})</span></h3>
			<form name="frmclientes"  novalidate="novalidate" class="form">
				<div class="form-group">
					<label>Nombre:</label>
					<input type="text" name="nombre" class="form-control" ng-model="cliente.nombre"  ng-disabled="!edicionHabilitada" pattern=".{3,50}" required />
					<span ng-show="frmclientes.nombre.$invalid && frmclientes.nombre.$dirty" class="error">Su nombre debe tener entre 3 y 50 caracteres.</span>
				</div>
		 	 	<div class="form-group">
					<label>Correo Electronico:</label>
					<input type="email" name="email" class="form-control" ng-model="cliente.correo" ng-disabled="!edicionHabilitada" required="required" />
					<span ng-show="frmclientes.email.$invalid && frmclientes.email.$dirty" class="error">Debe ingresar su correo electrónico.</span>
				</div>  
		  		<div class="form-group">
					<button ng-click="guardar()" ng-show="cliente._id==null" ng-disabled="frmclientes.$invalid" class="btn btn-primary">Guardar</button>
					<button ng-click="actualizar()"  ng-show="cliente._id!=null"  ng-disabled="frmclientes.$invalid" class="btn btn-primary">Actualizar</button>				
					<button type="button" ng-click="cancelar()"  class="btn btn-danger">Cancelar</button>		
					<a class="btn btn-success" ng-href="#/clientes/lista" role="button">Ver Todos</a>			
				</div>
			</form>
		</div>
	</div>